<%= form_for @sample do |sample| %>
    <div class="form-group">
      <%= sample.label :company, "Company Name" %>
      <%= sample.text_field :company_id,{class: 'form-control',placeholder: 'Company'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :tower, "Cooling Tower Name" %>
      <%= sample.text_field :tower_id,{class: 'form-control',placeholder: 'Tower'}  %>
    </div>
    <hr>
    <div class="form-group">
      <%= sample.label :conductivity, "Conductivity" %>
      <%= sample.text_field :conductivity,{class: 'form-control',placeholder: 'Conductivity'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :ph, "pH" %>
      <%= sample.text_field :ph, {class: 'form-control',placeholder: 'ph'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :magnesium, "Magnesium" %>
      <%= sample.text_field :magnesium, {class: 'form-control',placeholder: 'Magnesium'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :calcium, "Calcium" %>
      <%= sample.text_field :ph, {class: 'form-control',placeholder: 'Calcium'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :ca_mg_ratio, "CA/MG_Ratio" %>
      <%= sample.text_field :ca_mg_ratio, {class: 'form-control',placeholder: 'CA/MG_Ratio'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :iron, "Iron" %>
      <%= sample.text_field :iron, {class: 'form-control',placeholder: 'Iron'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :copper, "Copper" %>
      <%= sample.text_field :copper, {class: 'form-control',placeholder: 'Copper'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :phosphorus, "Phosphorus" %>
      <%= sample.text_field :phosphorus, {class: 'form-control',placeholder: 'Phosphorus'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :zinc, "Zinc" %>
      <%= sample.text_field :zinc, {class: 'form-control',placeholder: 'Zinc'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :sodium, "Sodium" %>
      <%= sample.text_field :sodium, {class: 'form-control',placeholder: 'Sodium'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :molybdate, "Molybdate" %>
      <%= sample.text_field :molybdate, {class: 'form-control',placeholder: 'Molybdate'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :silicate, "Silicate" %>
      <%= sample.text_field :silicate, {class: 'form-control',placeholder: 'Silicate'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :boron, "Boron" %>
      <%= sample.text_field :boron, {class: 'form-control',placeholder: 'Boron'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :aluminum, "Aluminum" %>
      <%= sample.text_field :aluminum, {class: 'form-control',placeholder: 'Aluminum'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :sulfer, "Sulfer" %>
      <%= sample.text_field :sulfer, {class: 'form-control',placeholder: 'Sulfer'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :manganese, "Manganese" %>
      <%= sample.text_field :manganese, {class: 'form-control',placeholder: 'Manganese'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :total_hardness, "Total Hardness" %>
      <%= sample.text_field :total_hardness, {class: 'form-control',placeholder: 'Total Hardness'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :ortho_po4, "Ortho PO4" %>
      <%= sample.text_field :ortho_po4, {class: 'form-control',placeholder: 'Ortho PO4'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :azole, "Azole" %>
      <%= sample.text_field :azole, {class: 'form-control',placeholder: 'Azole'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :polymer, "Polymer" %>
      <%= sample.text_field :polymer, {class: 'form-control',placeholder: 'Polymer'}  %>
    </div>
    <%= sample.submit class:'btn btn-default' %>
<% end -%>