<%= form_for @sample do |sample| %>
    <div class="form-group">
      <%= sample.label :company, "Company Name" %><br>
      <%= sample.collection_select(:company_id, Company.all, :id, :name, :prompt => 'Select') %>
    </div>
    <div class="form-group">
      <%= sample.label :tower, "Cooling Tower Name" %><br>
      <%= sample.collection_select(:tower_id, Tower.all, :id, :name, :prompt => 'Select') %>
    </div>
    <hr>
    <div class="form-group">
      <%= sample.label :sample_date, "Sample Date" %>
      <%= sample.date_field :sample_date,{class: 'form-control',placeholder: 'mm/dd/yyyy'}  %>
    </div>
    <hr>
    <h4>City Water Data</h4>
    <div class="form-group">
      <%= sample.label :city_sodium, "Sodium (as ppm Na)" %>
      <%= sample.number_field :city_sodium, {class: 'form-control', step: 'any', placeholder: 'City Sodium'}  %>
    </div>
    <hr>
    <h4>Cooling Tower Data</h4>
    <div class="form-group">
      <%= sample.label :conductivity, "Conductivity" %>
      <%= sample.number_field :conductivity,{class: 'form-control',  step: 'any', placeholder: 'Conductivity'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :ph, "pH" %>
      <%= sample.number_field :ph, {class: 'form-control', step: 'any', placeholder: 'ph'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :magnesium, "Magnesium (as ppm CaCO3)" %>
      <%= sample.number_field :magnesium, {class: 'form-control', step: 'any' ,placeholder: 'Magnesium'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :calcium, "Calcium (as ppm CaCO3)" %>
      <%= sample.number_field :ph, {class: 'form-control', step: 'any',placeholder: 'Calcium'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :ca_mg_ratio, "CA/MG_Ratio" %>
      <%= sample.number_field :ca_mg_ratio, {class: 'form-control', step: 'any', placeholder: 'CA/MG_Ratio'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :iron, "Iron (as ppm Fe)" %>
      <%= sample.number_field :iron, {class: 'form-control', step: 'any' ,placeholder: 'Iron'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :copper, "Copper (as ppm Cu)" %>
      <%= sample.number_field :copper, {class: 'form-control', step: 'any' ,placeholder: 'Copper'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :phosphorus, "Phosphorus (as ppm PO4)" %>
      <%= sample.number_field :phosphorus, {class: 'form-control', step: 'any' ,placeholder: 'Phosphorus'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :zinc, "Zinc (as ppm PO4)" %>
      <%= sample.number_field :zinc, {class: 'form-control', step: 'any', placeholder: 'Zinc'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :sodium, "Sodium (as ppm Na)" %>
      <%= sample.number_field :sodium, {class: 'form-control', step: 'any', placeholder: 'Sodium'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :molybdate, "Molybdate (as ppm Mo)" %>
      <%= sample.number_field :molybdate, {class: 'form-control', step: 'any', placeholder: 'Molybdate'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :silicate, "Silicate (as ppm SiO2)" %>
      <%= sample.number_field :silicate, {class: 'form-control', step: 'any', placeholder: 'Silicate'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :boron, "Boron (as ppm B)" %>
      <%= sample.number_field :boron, {class: 'form-control', step: 'any', placeholder: 'Boron'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :aluminum, "Aluminum (as ppm Al)" %>
      <%= sample.number_field :aluminum, {class: 'form-control', step: 'any', placeholder: 'Aluminum'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :sulfer, "Sulfer (as ppm SO4)" %>
      <%= sample.number_field :sulfer, {class: 'form-control', step: 'any', placeholder: 'Sulfer'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :manganese, "Manganese (as ppm Mn)" %>
      <%= sample.number_field :manganese, {class: 'form-control', step: 'any', placeholder: 'Manganese'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :total_hardness, "Total Hardness (as ppm CaCO3)" %>
      <%= sample.number_field :total_hardness, {class: 'form-control', step: 'any', placeholder: 'Total Hardness'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :ortho_po4, "Ortho PO4 (as ppm PO4)" %>
      <%= sample.number_field :ortho_po4, {class: 'form-control', step: 'any', placeholder: 'Ortho PO4'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :azole, "Azole (as ppm TT)" %>
      <%= sample.number_field :azole, {class: 'form-control', step: 'any', placeholder: 'Azole'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :polymer, "Polymer (as FAU)" %>
      <%= sample.number_field :polymer, {class: 'form-control', step: 'any', placeholder: 'Polymer'}  %>
    </div>
    <div class="form-group">
      <%= sample.label :free_chlorine, "Free Chlorine" %>
      <%= sample.number_field :free_chlorine, {class: 'form-control', step: 'any', placeholder: 'Free Chlorine'}  %>
    </div>
    <%= sample.submit class:'btn btn-default' %>
<% end -%>
<script>
    $('#sample_company_id').on('change',null,function(){
        var company = $( "#sample_company_id" ).val();
        $.ajax({
            url: '/towers?company='+ company,
            success: function(data) {
                console.log(data);
                var towerSelect = $('#sample_tower_id');
                towerSelect.html('');
                towerSelect.append('<option value>Select</option>');
                $.each(data, function(key, val){
                    towerSelect.append('<option value="' + val.id + '">' + val.name + '</option>');
                })
            }
        });
    })
</script>