<h1>Recorded Samples</h1>

<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Sample Date</th>
    <th>Company</th>
    <th>Tower</th>
    <th>Options</th>
  </tr>
  </thead>

  <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.id, sample %></td>
        <td><%= sample.sample_date.strftime('%m/%d/%Y') %></td>
        <td><%= sample.company.name %></td>
        <td><%= sample.tower.name %></td>
        <td>
          <%= link_to 'Edit', edit_sample_path(sample.id) %>
          <%= link_to 'Delete', sample, :method => 'delete' %>
        </td>
      </tr>
  <% end -%>
</table>

<p><%= link_to 'New Sample', new_sample_path %></p>